body {
  background: #000f;
  color: #ccc;
}

label {
  padding-right: 10px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.subtitle {
  color: #c7c740;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #464646;
  text-align: center;
}